<a href="https://colab.research.google.com/github/Co21385/ce101_data_science/blob/main/datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid')
import plotly.graph_objs as go
import plotly.offline as py

In [2]:
def condition_ratio(data):
    """
    Make a pie chart of 'Condition' values
    Condition: 0 = Benign, 1 = Malignant
    """
    results = data['Condition'].value_counts()
    values = [results[0], results[1]]
    labels = ['Benign', 'Malignant']
    colors = ['MediumSeaGreen', 'LightCoral']
    
    fig_pie = go.Pie(labels=labels, values=values,
                     marker={'colors': colors, 
                             'line': {'color': 'Black', 'width': 2}})
    py.iplot([fig_pie])
    return py

In [9]:

# Import the dataset as CSV file
df = pd.read_csv('https://raw.githubusercontent.com/Co21385/ce101_data_science/main/heart.csv')
df.head(50)

    age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0    63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1    37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2    41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3    56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4    57    0   0       120   354    0  ...      1      0.6      2   0     2       1
5    57    1   0       140   192    0  ...      0      0.4      1   0     1       1
6    56    0   1       140   294    0  ...      0      1.3      1   0     2       1
7    44    1   1       120   263    0  ...      0      0.0      2   0     3       1
8    52    1   2       172   199    1  ...      0      0.5      2   0     3       1
9    57    1   2       150   168    0  ...      0      1.6      2   0     2       1
10   54    1   0       140   239    0  ...      0      1.2      2   0     2       1
11   48    0   2       130   275    0  ...      0      0.2      2   0     2       1
12   49    1   1       130   266    0  ...      0      0.6      2   0     2       1
13   64    1   3       110   211    0  ...      1      1.8      1   0     2       1
14   58    0   3       150   283    1  ...      0      1.0      2   0     2       1
15   50    0   2       120   219    0  ...      0      1.6      1   0     2       1
16   58    0   2       120   340    0  ...      0      0.0      2   0     2       1
17   66    0   3       150   226    0  ...      0      2.6      0   0     2       1
18   43    1   0       150   247    0  ...      0      1.5      2   0     2       1
19   69    0   3       140   239    0  ...      0      1.8      2   2     2       1
20   59    1   0       135   234    0  ...      0      0.5      1   0     3       1
21   44    1   2       130   233    0  ...      1      0.4      2   0     2       1
22   42    1   0       140   226    0  ...      0      0.0      2   0     2       1
23   61    1   2       150   243    1  ...      1      1.0      1   0     2       1
24   40    1   3       140   199    0  ...      1      1.4      2   0     3       1
25   71    0   1       160   302    0  ...      0      0.4      2   2     2       1
26   59    1   2       150   212    1  ...      0      1.6      2   0     2       1
27   51    1   2       110   175    0  ...      0      0.6      2   0     2       1
28   65    0   2       140   417    1  ...      0      0.8      2   1     2       1
29   53    1   2       130   197    1  ...      0      1.2      0   0     2       1
30   41    0   1       105   198    0  ...      0      0.0      2   1     2       1
31   65    1   0       120   177    0  ...      0      0.4      2   0     3       1
32   44    1   1       130   219    0  ...      0      0.0      2   0     2       1
33   54    1   2       125   273    0  ...      0      0.5      0   1     2       1
34   51    1   3       125   213    0  ...      1      1.4      2   1     2       1
35   46    0   2       142   177    0  ...      1      1.4      0   0     2       1
36   54    0   2       135   304    1  ...      0      0.0      2   0     2       1
37   54    1   2       150   232    0  ...      0      1.6      2   0     3       1
38   65    0   2       155   269    0  ...      0      0.8      2   0     2       1
39   65    0   2       160   360    0  ...      0      0.8      2   0     2       1
40   51    0   2       140   308    0  ...      0      1.5      2   1     2       1
41   48    1   1       130   245    0  ...      0      0.2      1   0     2       1
42   45    1   0       104   208    0  ...      1      3.0      1   0     2       1
43   53    0   0       130   264    0  ...      0      0.4      1   0     2       1
44   39    1   2       140   321    0  ...      0      0.0      2   0     2       1
45   52    1   1       120   325    0  ...      0      0.2      2   0     2       1
46   44    1   2       140   235    0  ...      0      0.0      2   0     2       1
47   47    1   2       138   257    0  ...      0      0.0      2   0     2       1
48   53    0   2       128   216    0  ...      0      0.0      2   0     0       1
49   53    0   0       138   234    0  ...      0      0.0      2   0     2       1

[50 rows x 14 columns]

In [5]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
# Rename origical columns
df.columns = ['Age', 'Sex', 'Chest_pain_type', 'Resting_bp', 
              'Cholesterol', 'Fasting_bs', 'Resting_ecg', 
              'Max_heart_rate', 'Exercise_induced_angina', 
              'ST_depression', 'ST_slope', 'Num_major_vessels',
              'Thallium_test', 'Condition']

In [8]:
df['Age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: Age, Length: 303, dtype: int64

In [11]:
df.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [12]:
df.info()

print()
print(f'Shape of the dataset')
print(f'Number of Features: {df.shape[1]}')
print(f'Number of Observations: {df.shape[0]}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

Shape of the dataset
Number of Features: 14
Number of Observations: 303

In [13]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [42]:
params_svm = {'C': [0.1,1, 10, 100], 
              'gamma': [1, 0.1, 0.01, 0.001, 'scale', 'auto'],
              'kernel': ['linear', 'poly', 'sigmoid']}